@import "./theme.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  * {
    @apply border-border outline-accent/75;
    scrollbar-width: auto;
    scrollbar-color: var(--color-muted) transparent;
  }
  a,
  button {
    @apply outline-accent outline-offset-1 focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-dashed;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@layer utilities {
  .max-w-app {
    max-width: 48rem;
  }

  .app-layout {
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .active-nav {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
  }
}

@import "./typography.css";

:target {
  scroll-margin-block: 1rem;
}
