---
interface Props {
  chart: string;
}

const { chart } = Astro.props;
---

<div class="mermaid">{chart}</div>

<script>
  import mermaid from "mermaid";

  mermaid.initialize({ startOnLoad: true, theme: "dark" });
  mermaid.contentLoaded();
</script>
